/* Custom Styles */

.navbar {
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: 0px;
    }
}

.caption {
  font-size: 12px;
  line-height: 15px;
}

/* Map Div */

#map {
  position:absolute;
  height:100%;
  width:100%;
}

/* MapBox Popup Marker Styling */
/* Adapted from https://www.mapbox.com/mapbox.js/example/v1.0.0/markers-with-image-slideshow/ */

.popup {
    text-align: center;
}
.popup .slideshow {
    width: 100%;
}
.popup .slideshow .image {
    display: none;
}
.popup .slideshow .active {
    display: block;
}
.popup .slideshow img {
    width: 100%;
}
.popup .slideshow .caption {
    background: #eee;
    padding: 8px;
}
.popup .cycle {
    height: 30px;
    margin-top: 5px;
    padding-top: 5px;
}
.popup .cycle a.prev {
    float: left;
}
.popup .cycle a.next {
    float: right;
}

/* Alert message */

#alert-vucampus, #alert-browser {
  display:none;
  margin-bottom:0px;
}
